{% extends "layout.html" %}
{% block body %}
  <h2>{{ groupname }}</h2>
  <h2>A ***USERGROUP*** PROFILE!  HUZZAH!</h2>
  <h2>Group Owners</h2>
  <ul>
    {% for item in usergroup.find_users_by_rel('owns') %}
        <li><a href="{{ url_for('profile', username=item.username) }}">{{item.username}}</a></li>
    {% endfor %}
  </ul>
  <h2>Group Members</h2>
  <ul>
    {% for item in usergroup.find_users_by_rel('in') %}
        <li><a href="{{ url_for('profile', username=item.username) }}">{{item.username}}</a></li>
    {% endfor %}
  </ul>

  {% for owner in usergroup.find_users_by_rel('owns') %}
    {% if owner.username == session.username %}
      <form action="{{ url_for('usergroup_add_member', id=usergroup.id) }}" method="post" label="Enter the username of the person you want to add to this group.">
        <dl>
          <dt>Username of new member:</dt>
          <dd><input type='text' name='username'></dd>
        </dl>
        <input type='submit' value="click to add member">
      </form>
    {% endif %}
  {% endfor %}

{% endblock %}
